# Mac
.DS_Store
.DS_Store?
._*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Nodejs
node_modules

# dist
/dist

# IDE
.idea
.vscode

# Packages 
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip